<script setup lang="ts">
import DummyComponents from '@/components/DummyComponents.vue'

import { provide, ref } from 'vue'
const num1 = ref(0)
provide('num1', num1)
// provide('num2Click', num1Click)
function num1Click() {
  num1.value++
}
</script>

<template>
  <div style="text-align: center">
    <img
      style="width: 300px; height: 300px; border-radius: 50%"
      src="../assets/121934989.jpg"
      alt=""
    />
    <h3>สวัสดีชาวโลกผม ชินภัทร</h3>
    {{ num1 }}
    <DummyComponents></DummyComponents>
  </div>
</template>
