<script setup lang="ts">
import { onMounted, ref } from 'vue'

type Props = {
  num: number
  inc?: number //Optional
}

const prop = withDefaults(defineProps<Props>(), {
  inc: 1
})

onMounted(() => {
  console.log(prop.num)
})

const emit =defineEmits<{
    numClick:[num:number]
}>()

const _num = ref(prop.num)
const doInc = () => {
  _num.value = _num.value + prop.inc ?? 1
  emit('numClick',_num.value)
}
</script>

<template>
  <button @click="doInc()">{{ _num }}</button>
</template>

<style scoped></style>
